langgraph
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
langchain-chroma
playwright
python-dotenv
pydantic
requests
typing-extensions
chromadb
nest-asyncio
beautifulsoup4
lxml
PyPDF2
pdfplumber
pypdf
fastapi
uvicorn[standard]
python-multipart
pytesseract
pdf2image
Pillow
fastembed